body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#messages div{
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sent{
    background-color: #dcf8c6;
    margin-left: auto;
    width: fit-content;

}


.received{
        background-color: #fff;
        width: fit-content;

}
  
  #form {
    background: #000;
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
  }
  #form input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
  }
  #form button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
  }


form{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;

}
  
input{
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button{
        border: none;
    padding: 10px;
    border-radius: 5px;
        background-color: #007bff;
    color: white;
    cursor: pointer;
}